<% dataCategory.forEach((el) => { %>
  <button name="categoryName" type="submit" class="btn btn-outline-dark mt-auto" value="<%= el.name %>"> <%= el.name %> </button>
  <% }); %>

  <% data.price.forEach((el) => { %>
    <span >
      <button type="submit"  class="btn btn-outline-dark mt-auto"> <%= changeIdr(el) %> </button>
     <br>
    </span>
    <% }) %>

    <form class="d-flex">
      <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
  </form>